.h-main-container{
    /* border: solid 2pt red; */
    height: 200vh;
    background-image: url(../../../assets/images/mydesk.jpg);
    background-repeat: no-repeat;
    background-size: 1500px ;
     
}


.h-main-container-inner{
    /* border: solid 2pt green; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    overflow: hidden;
    
}

.topnav{
    /* border: solid 2pt red;  */
    height: 4%;
    display: flex; 
}

.whitespace{
    /* border: solid 2pt red;   */
    width: 80%;  
    
}


.james{ 
    margin-left: 22.5%;
    /* border: solid 2pt rgba(255, 255, 255, 0.603);  */
    border-radius: 6px;
    width: 55%;
    font-size:25pt;
    color: white;
    height: fit-content;
    text-align: center;
    animation: fadeIn 5s;
    cursor: pointer;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }



  .welcome{
    transition: all ease-in-out 0.5s;
    
}





.portfolio{
    float: right;
    margin: 1.5%;
    list-style: none;
    text-align: center;
    height: 40%;
    width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

.portfolio:hover{

    /* border: solid 2pt red;  */
    margin-left: 3%;
    color: rgba(255, 255, 255, 0.178);
    -webkit-transition: all .4s ease-in-out;
}

.sayhello{
    float: right;
    margin: 1.5%;
    /* border: solid 1pt #F9B339;  */
    list-style: none;
    text-align: center;
    height: 40%;
    width: 15%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15pt;
    border-radius: 8px;
    color: white;
    cursor: pointer;

}

.j{
   color: #FCA311; 
}


.sayhello:hover{

    /* border: solid 2pt red;  */
    margin-right: 2%;
    color: rgba(255, 255, 255, 0.178);
    -webkit-transition: all .4s ease-in-out;
    
}

.h-page-body1{

    /* border: solid 2pt rgb(255, 85, 0);  */
    height: 65%;
    overflow: hidden;
    
   
}


.circle1{
        /* border: solid 2pt red; */
     margin-top: 4%;
     margin-left:42%;
     border-radius: 50%; 
     width: 15%;
     background-color: rgba(0, 0, 0, 0.471);
     transition: all 1s ease;
     animation-name: trans;
    transition: all .4s ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    padding: 1%;
   
}

.circle1:after{
    content: "";
    padding-bottom: 0%;
    display: block;
}

.circle1:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}

@keyframes trans {
    75%{
      transform: scale(1.1);
  }
}



.circle2{
   
    border-radius: 50%; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.115);
    padding: 1%;
   
   cursor: pointer;
 
}

.circle2:after{
    content: "";

    display: block;
}

.circle2:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
}

.circle3{
   
    margin:10%;
    border-radius: 50%; 
    width: 80%;
    border:solid 3pt  #FCA311;
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: trans;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   cursor: pointer;
   
}


.circle3:after{
    content: "";
    display: block;
}


.circle3:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 1.5s ease-in-out;
    transform: scale(1.1);
    border:solid 3pt rgba(255, 255, 255, 0.214);
   
}

.circle4{
   
    margin:11%;
    border-radius: 100%; 
    width: 79%;
    background-color: rgba(0, 0, 0, 0.308);
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: tilt-shaking;
   animation-duration: .5s;
   animation-iteration-count: infinite;
   font-size: 60px;
   color: rgba(255, 255, 255, 0.52);
   cursor: pointer;
   background-size: 10px;
   padding: 1px;
}


.circle4:after{
    content: "";
    display: block;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }








.unlock{
  /* border: solid 2pt red; */
    width: 30%;
    margin-top: 8%;
    margin-left: 35%;
    font-size: 30px;
    text-align: center;
    color: #ffffff8f;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation-name: trans;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer; 
}


.unlock:hover{
    color: #ffffff00;
}

.h-body2{
    /* border: solid 2pt rgb(0, 0, 255);  */
        margin-top: 50%;
       height: 90%; 
       background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.466),rgba(0, 0, 0, 0.74), rgb(0, 0, 0));
      
         
   }

.h-page-body2{
    /* border: solid 2pt rgb(0, 255, 68); */
    height: inherit;
    display: flex;
    overflow: hidden;
}


#ra{
    animation: ticker 70s linear infinite;
}



.box1{
    /* margin: 5%; */
    margin-top: 40%;

    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.341);
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(100,100,100,100);
    opacity: 1;
    transition: all ease-in-out 0.5s;
}


.box2{
    /* margin: 5%; */
    margin-top: 40%;
    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.341);;
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    opacity: 1;
    transition: all ease-in-out 0.5s;
}

.box3{
    /* margin: 5%; */
    margin-top: 40%;
    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.341);
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.664);
    opacity: 1;
    transition: all ease-in-out 0.5s;
}





#w{
    color: #f0eeeed1;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.collaborations{
    /* border: solid 2pt #FCA311; */
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.148);
    background-color: #0000008c;
 
}

.c1{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}

.c1:hover{
    transform: scale(1.1);
}


.c2{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}

.c2:hover{
    transform: scale(1.1);
}


.c3{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}

.c3:hover{
    transform: scale(1.1);
}


.cc1, .cc2, .cc3{
    background-color: #FCA311;
   
    border-radius: 6px;
    margin: 2.5%;
}


#cw{
    height: 50%;
    font-size: 30px;
    margin-left: 7%;
  
    color: black; 
    text-decoration: none; 
}


#be{
   
    height: 54px;
    width: 54px;  
    text-decoration: none; 
}

#dr{
  
    height: 50px;
    width: 50px; 
    text-decoration: none;  
}

#dc{
    margin-top: 6%;
    height: 50px;
    width: 50px; 
    text-decoration: none;  
}


















.recent-w{
    /* border: solid 2pt #FCA311; */
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.148);
    background-color: #0000008c;
}




.darker{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 6px;
}

.r1{
    
    background-image: url(../../../assets/images/Capture.PNG);
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.329); 
    cursor: pointer;
    transition: all 1s ease;
    background-size: 240px;
    border: solid 3pt rgb(151, 151, 151);
    
}




.r2{
    background-color: rgb(209, 207, 207);
    background-image: url(../../../assets/images/Capture2.PNG);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 8%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.356); 
    cursor: pointer;
    transition: all 1s ease;
    background-size: 240px;
    border: solid 3pt rgb(151, 151, 151);
}




.r3{
    background-image: url(../../../assets/images/Capture3.PNG);
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 8%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    cursor: pointer;
    transition: all 1s ease;
    background-size: 250px;
    border: solid 3pt rgb(151, 151, 151);
}



.rc1{
    
    background-color: #fca211ab;
    height: 100%;
    width: 13%;
    border-radius: 4px;
    text-align: center;
    font-size: 45px;
    transition: all ease-in-out 0.5s;
  
   

}

.r1:hover .rc1{
    width: 100%;
}

.rc1 a{
    
   margin-top: 5%;

}


.rc2{
    
    background-color:#fca211ab;
    height: 100%;
    width: 13%;
    border-radius: 4px;
    text-align: center;
    font-size: 45px;
    transition: all ease-in-out 0.5s;
    
   
}

.r2:hover .rc2{
    width: 100%;
}

.rc3{
    background-color:#fca211ab;
    height: 100%;
    width: 13%;
    border-radius: 4px;
    text-align: center;
    font-size: 45px; 
    transition: all ease-in-out 0.5s;
}

.r3:hover .rc3{
    width: 100%;
}


#rw{
    /* border: solid 2pt red; */
    height: 50%;
    font-size: 30px;
    margin-left: 7%;
    margin-top: 7.5%;
    color: rgb(255, 255, 255);
    text-decoration: none; 
}






















.socials{
    /* border: solid 2pt #FCA311; */
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184);
    background-color: #0000008c;
}



#git{
    
 
    height: 33px;
    text-decoration: none; 
}

#in{
    
    height: 36px;
    /* width: 46px; */
    text-decoration: none; 
}

#tw{

    height: 36px;
    /* width: 47px; */
    text-decoration: none; 
}


#sw{
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 20px;
    margin-left: 15%;
    margin-top: 3%;
    text-decoration: none; 
}


.s1{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 11%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s1:hover{
    transform: scale(1.1);
}

#sc1{
    border-radius: 100%;
    background-color: #FCA311;
    margin: 1%;
    text-decoration: none; 
    padding: 2%;
}

.s2{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 11%;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s2:hover{
    transform: scale(1.1);
}


#sc2{
    border-radius: 100%;
    background-color: #FCA311;
    margin: 1%;
    text-decoration: none; 
    padding: 2%;
}

.s3{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 11%;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s3:hover{
    transform: scale(1.1);
}



#sc3{
    border-radius: 100%;
    background-color: #FCA311;
    margin: 3%;
    align-items: center;
    text-decoration: none; 
}

.s4{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 11%;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s4:hover{
    transform: scale(1.1);
}



#sc4{
    border-radius: 100%;
    background-color: #FCA311;
    margin-left: 3%;
    margin-top: 2%;
    text-decoration: none; 
}

.footer{
    background-color: rgb(255, 255, 255);
    height: 10%;
    margin-top:10%;
}





@media only screen and (max-width:800px) {
    /* For tablets: */
    .topnav, .h-page-body1, .h-body2, .h-page-body2 {
        width: 100%;
        overflow: scroll;
      }
    
    .box1, .box2, .box3{
        width: 90%;
    }
}


@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .topnav, .h-page-body1, .h-body2, .h-page-body2 {
      width: 100%;
    }

    .h-page-body1{
        border: solid 2pt red;
        height: 80%;

    }
    

    .circle1{
     
        width: 30%;
        margin-top: 20%;
        margin-left: 35%;
        
    }

  

     

    .h-page-body2{
        display: block;
        background-color: transparents;
       
    } 
      .box1, .box2, .box3{
        width: 90%;
        height: 60%;
    }

    .box1{
        margin-top: 200%;
    }

    .h-main-container{
        /* border: solid 2pt red; */
        height: 200vh;
        background-image: url(../../../assets/images/mydesk.jpg);
        background-repeat: no-repeat;
        background-size: 2000px ;
        overflow: hidden;
         
    }
    

   
  }


  @media only screen and (max-width:712px) {
    /* For mobile phones: */
    .topnav, .h-page-body1, .h-body2, .h-page-body2 {
      width: 100%;
    }

    .h-page-body1{
        border: solid 2pt red;
        height: 80%;

    }

    .circle1{
      margin-top: 20%;
        
    }

     

    .h-page-body2{
        display: block;
        background-color: transparents;
       
    } 
      .box1, .box2, .box3{
        width: 90%;
    }


    .cc1, .cc2, .cc3 ::after{
    content: "";
    padding-bottom: 0%;
    display: block;
}


    .box1{
        margin-top: 200%;
    }

    .h-main-container{
        /* border: solid 2pt red; */
        height: 200vh;
        background-image: url(../../../assets/images/mydesk.jpg);
        background-repeat: no-repeat;
        background-size: 3000px ;
        overflow: hidden;
         
    }
    

   
  }
