.h-main-container{
    /* border: solid 2pt red; */
    height: 200vh;
    background-image: url(../../../assets/images/cedric-letsch-raNGlrn5JRI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
  
   
}

.h-main-container-inner{
    height: 200vh;
    background-color: rgba(0, 0, 0, 0.801);
    
}

.topnav{
    /* border: solid 2pt red;  */
    height: 4%;
    display: flex; 
}

.whitespace{
    /* border: solid 2pt red;   */
    width: 80%;  
    
}


.james{ 
    margin-left: 33%;
    /* border: solid 2pt red;  */
    font-size:30pt;
    color: white;
    float: left;
    height: fit-content;
    text-align: center;
    animation: fadeIn 5s;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }










.portfolio{
    float: right;
    margin: 1.5%;
    list-style: none;
    text-align: center;
    height: 40%;
    width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

.portfolio:hover{

    /* border: solid 2pt red;  */
    margin-left: 3%;
    color: rgba(255, 255, 255, 0.178);
    -webkit-transition: all .4s ease-in-out;
}

.sayhello{
    float: right;
    margin: 1.5%;
    /* border: solid 1pt #F9B339;  */
    list-style: none;
    text-align: center;
    height: 40%;
    width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    border-radius: 8px;
    color: white;
    cursor: pointer;

}

.j{
   color: #FCA311; 
}


.sayhello:hover{

    /* border: solid 2pt red;  */
    margin-right: 2%;
    color: rgba(255, 255, 255, 0.178);
    -webkit-transition: all .4s ease-in-out;
    border: solid 1pt rgba(255, 255, 255, 0); 
}

.h-page-body1{

    /* border: solid 2pt rgba(0, 128, 0, 0);  */
    height: 45%;
   
}


.circle1{
   
     margin-top: 4%;
     margin-left:40%;
     border-radius: 100%; 
     width: 20%;
     height: 40%;
     background-color: rgba(255, 255, 255, 0.069);
     filter: blur(1px);
     justify-content: center;
     padding: 1%;
     transition: all 1s ease;
     animation-name: trans;
     animation-iteration-count: infinite;
     -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation-name: trans;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 30px;
}

.circle1:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
}

@keyframes trans {
    75%{
      transform: scale(1.1);
  }
}



.circle2{
    margin:9%;
    border-radius: 100%; 
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.115);
    padding: 1%;
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: trans;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   font-size: 30px;
}

.circle2:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
}

.circle3{
   
    margin:9%;
    border-radius: 100%; 
    width: 80%;
    height: 80%;
    border:solid 3pt  #FCA311;
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: trans;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   font-size: 30px;
   
}


.circle3:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 1.5s ease-in-out;
    transform: scale(1.1);
    border:solid 3pt rgba(255, 255, 255, 0.214);
   
}

.circle4{
   
    margin:8.9%;
    border-radius: 100%; 
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.176);
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: tilt-shaking;
   animation-duration: .5s;
   animation-iteration-count: infinite;
   font-size: 100px;
   color: rgba(255, 255, 255, 0.52);
   padding-top: 3%;
   cursor: pointer;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.check{
    /* border: solid 2pt red; */
    margin-top: 3%;
    width: 70%;
    margin-left: 15.5%;
    font-size: 50px;
    text-align: center;
    color: #ffffff8f;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: trans;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   cursor: pointer;
    
}


.check:hover{
    margin-top: 3%;
    color: #ffffff00;
}



.unlock{
  /* border: solid 2pt red; */
    width: 30%;
    margin-top: 8%;
    margin-left: 35%;
    font-size: 40px;
    text-align: center;
    color: #ffffff8f;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation-name: trans;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer; 
}


.unlock:hover{
    color: #ffffff00;
}


.h-page-body2{
    height: 45%;
    background-color: rgb(0, 0, 0);
    display: flex;
}


.box1{
    margin: 5%;
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(100,100,100,100);
}


.box2{
    margin: 5%;
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
}

.box3{
    margin: 5%;
    background-color: rgb(255, 255, 255);
    width: 25%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.664);
}










