.h-main-container{
    /* border: solid 2pt red; */
    height: 200vh;
    background-image: url(../../../assets/images/cedric-letsch-raNGlrn5JRI-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1800px 1000px;
    
  
   
}


.h-main-container-inner{
    /* border: solid 2pt green; */
    height: inherit;
    background-color: rgba(0, 0, 0, 0.902);
    
}

.topnav{
    /* border: solid 2pt red;  */
    height: 4%;
    display: flex; 
}

.whitespace{
    /* border: solid 2pt red;   */
    width: 80%;  
    
}


.james{ 
    margin-left: 29.5%;
    /* border: solid 2pt rgba(255, 255, 255, 0.603);  */
    border-radius: 6px;
    width: 45%;
    font-size:30pt;
    color: white;
    margin-right: 30%;
    height: fit-content;
    text-align: center;
    animation: fadeIn 5s;
    cursor: pointer;

}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }




.portfolio{
    float: right;
    margin: 1.5%;
    list-style: none;
    text-align: center;
    height: 40%;
    width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 1s ease;
}

.portfolio:hover{

    /* border: solid 2pt red;  */
    margin-left: 3%;
    color: rgba(255, 255, 255, 0.178);
    -webkit-transition: all .4s ease-in-out;
}

.sayhello{
    float: right;
    margin: 1.5%;
    /* border: solid 1pt #F9B339;  */
    list-style: none;
    text-align: center;
    height: 40%;
    width: 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt;
    border-radius: 8px;
    color: white;
    cursor: pointer;

}

.j{
   color: #FCA311; 
}


.sayhello:hover{

    /* border: solid 2pt red;  */
    margin-right: 2%;
    color: rgba(255, 255, 255, 0.178);
    -webkit-transition: all .4s ease-in-out;
    
}

.h-page-body1{

    border: solid 2pt rgba(0, 128, 0, 0); 
    height: 45%;
   
}


.circle1{
   
     margin-top: 4%;
     margin-left:40%;
     border-radius: 100%; 
     width: 20%;
     height: 40%;
     background-color: rgba(255, 255, 255, 0.069);
     filter: blur(1px);
     justify-content: center;
     padding: 1%;
     transition: all 1s ease;
     animation-name: trans;
     animation-iteration-count: infinite;
     -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation-name: trans;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 30px;
}

.circle1:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
}

@keyframes trans {
    75%{
      transform: scale(1.1);
  }
}



.circle2{
    margin:9%;
    border-radius: 100%; 
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.115);
    padding: 1%;
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: trans;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   font-size: 30px;
}

.circle2:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0);
}

.circle3{
   
    margin:9%;
    border-radius: 100%; 
    width: 80%;
    height: 80%;
    border:solid 3pt  #FCA311;
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: trans;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   font-size: 30px;
   
}


.circle3:hover{
    background-position: 100% 0;
    /* moz-transition: all .4s ease-in-out; */
    -o-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    transition: all 1.5s ease-in-out;
    transform: scale(1.1);
    border:solid 3pt rgba(255, 255, 255, 0.214);
   
}

.circle4{
   
    margin:8.9%;
    border-radius: 100%; 
    width: 80%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.176);
    transition: all 1s ease;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-name: tilt-shaking;
   animation-duration: .5s;
   animation-iteration-count: infinite;
   font-size: 100px;
   color: rgba(255, 255, 255, 0.52);
   padding-top: 3%;
   cursor: pointer;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }


.ridealong{
    display: flex;
    width: 13%;
    animation: slide 3s infinite;
    animation-direction: alternate;
    position: relative;
    animation-timing-function: linear;
    animation-timing-function: ease-in;
    animation-direction: normal;
   
    
}


  .bike{
    /* border: solid 2pt red; */
    height: 22vh;
}






@keyframes slide {
    from { left: 0px; }
    to {left: 1300px; }
}

/* .check{
  
    margin-top: 4%;
    width: 50%;
    font-size: 50px;
    text-align: center;
    color:#FCA311;
    -o-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   transition: all .4s ease-in-out;
   animation-duration: 2s;
   animation-iteration-count: 2s;
   cursor: pointer;
    
} */


/* .check:hover{
    color: #ffffff00;
} */



.unlock{
  /* border: solid 2pt red; */
    width: 30%;
    margin-top: 8%;
    margin-left: 35%;
    font-size: 40px;
    text-align: center;
    color: #ffffff8f;
    animation-name: trans;
    animation-iteration-count: infinite;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    animation-name: trans;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    cursor: pointer; 
}


.unlock:hover{
    color: #ffffff00;
}

.h-body2{
    border: solid 2pt rgba(0, 0, 255, 0); 
       height: 50%; 
       background-color: rgb(0, 0, 0);
   }

.h-page-body2{
   
    border: solid 2pt rgba(0, 255, 68, 0);
    height: 60%;
    background-color: rgb(0, 0, 0);
    display: flex;
  
}


#ra{
    animation: ticker 70s linear infinite;
}



.box1{
    /* margin: 5%; */
    margin-top: 1%;
    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.341);
    width: 25%;
    height: 108%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(100,100,100,100);
    opacity: 0;
}


.box2{
    /* margin: 5%; */
    margin-top: 1%;
    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.341);;
    width: 25%;
    height: 108%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    opacity: 0;
}

.box3{
    /* margin: 5%; */
    margin-top: 1%;
    margin-left: 6%;
    background-color: rgba(255, 255, 255, 0.341);
    width: 25%;
    height: 108%;
    border-radius: 10px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.664);
    opacity: 0;
}


#w{
    color: #f0eeeed1;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.collaborations{
    /* border: solid 2pt #FCA311; */
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.148);
 
}

.c1{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}


.c2{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}


.c3{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}

.cc1{
    background-color: #FCA311;
    height: 80%;
    width: 25%;
    border-radius: 6px;
    margin: 2.5%;
}


.cc2{
    background-color: #FCA311;
    height: 80%;
    width: 25%;
    border-radius: 6px;
    margin: 2.5%;
}

.cc3{
    background-color: #FCA311;
    height: 80%;
    width: 25%;
    border-radius: 6px;
    margin: 2.5%;
}

#cw{
    height: 50%;
    font-size: 40px;
    margin-left: 7%;
    margin-top: 5.5%;
    color: black;  
}


#be{
    margin-top: 15%;
    height: 50px;
    width: 50px;  
}

#dr{
    margin-top: 15%;
    height: 50px;
    width: 50px;  
}

#dc{
    margin-top: 15%;
    height: 50px;
    width: 50px;  
}


















.recent-w{
    /* border: solid 2pt #FCA311; */
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.148);
}

.r1{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}


.r2{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}


.r3{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 17%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 1s ease;
}

.rc1{
    
    background-color: #FCA311;
    height: 80%;
    width: 25%;
    border-radius: 6px;
    margin: 2.5%;

}


.rc2{
    
    background-color: #FCA311;
    height: 80%;
    width: 25%;
    border-radius: 6px;
    margin: 2.5%;

}

.rc3{
    
    background-color: #FCA311;
    height: 80%;
    width: 25%;
    border-radius: 6px;
    margin: 2.5%;

}


#rw{
    /* border: solid 2pt red; */
    height: 50%;
    font-size: 40px;
    margin-left: 7%;
    margin-top: 5.5%;
    color: black;
    
}

#jv{
    margin-top: 15%;
    height: 50px;
    width: 50px; 
}

#py{
    margin-top: 15%;
    height: 50px;
    width: 50px; 
}

#js{
    margin-top: 15%;
    height: 50px;
    width: 50px; 
}




















.socials{
    /* border: solid 2pt #FCA311; */
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 5%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184);
}



#git{
    
    margin-top: 20%;
    height: 38px;
}

#in{
    
    margin-top: 2%;
    height: 44px;
    width: 46px;
}

#tw{

    height: 47px;
    width: 49px;
}


#sw{
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 14px;
    margin-left: 3%;
    margin-top: 6%;
}


.s1{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 11%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s1:hover{
    transform: scale(1.1);
}

#sc1{
    border-radius: 100%;
    background-color: #FCA311;
    height: 80%;
    width: 15%;
    margin-left: 3%;
    margin-top: 2%;
}

.s2{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s2:hover{
    transform: scale(1.1);
}


#sc2{
    border-radius: 100%;
    background-color: #FCA311;
    height: 80%;
    width: 15%;
    margin-left: 3%;
    margin-top: 2%;
}

.s3{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s3:hover{
    transform: scale(1.1);
}



#sc3{
    border-radius: 100%;
    background-color: #FCA311;
    height: 80%;
    width: 15%;
    margin-left: 3%;
    margin-top: 2%;
    align-items: center;
}

.s4{
    background-color: rgb(209, 207, 207);
    width: 80%;
    height: 10%;
    margin-left: 9%;
    margin-top: 9%;
    border-radius: 6px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.184); 
    display: flex;
    cursor: pointer;
    transition: all 0.5s ease;
}

.s4:hover{
    transform: scale(1.1);
}



#sc4{
    border-radius: 100%;
    background-color: #FCA311;
    height: 80%;
    width: 15%;
    margin-left: 3%;
    margin-top: 2%;
}












